@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--main-color: #0766ad;
	--secondary-color: #c5e898;
	--background-main-color: #f5f5f5;
	--bg-home: #00b4f9;
	--main-text-color: #f5f5f5;
	--alert-color: #f7ec09;

	--text-shadow: #33333360 0 3px 6px;
	--margin-friend: 8px;
	--margin-aquintances: 64px;

	--title-size: 4em;
	--sub-title-size: 2em;
	--title-size-mobile: 3em;
	--sub-title-size-mobile: 1em;
	--font-weigth: 800;
}
body {
	font-family: 'Geist Sans', sans-serif;
	background-color: var(--background-main-color);
}
